@import './_config';
@import './_variables';

.main {
  @include flexCenter(row, null, center);
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-content {
  @include flexCenter(column, null, null);
  padding-top: 5rem;
  width: 90rem;
}
