@import './_config';
@import './_variables';


.main {
  @include flexCenter(row, null);
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-content {
  @include flexCenter(column, null);
  padding-top: 5rem;
  margin-left: -3rem;
  width: 890px;

}
